/** @format */

@keyframes rectangleCenter {
	0% {
		transform: translateY(-90vh);
	}
}
@keyframes rectangleLeft {
	0% {
		transform: translateX(-90vh) rotate(180deg);
	}
}
@keyframes rectangleRight {
	0% {
		transform: translateX(90vh) rotate(180deg);
	}
}
.background {
	width: 100vw;
	height: 100vh;
	background: radial-gradient(rgba(143, 123, 192, 0.9), rgba(123, 32, 55, 0.9));
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22vh, 1fr));
	justify-items: center;
	align-items: center;
}

.shapeContainer {
	display: flex;
}
.shapeContainer span {
    transition:  transform 4s;

}
.shapeContainer span:hover{
    transform: scale(1.1);
}
.rectangleStrokeCenter {
	animation: rectangleCenter 2s;
	transform: rotate(180deg) translateY(8vh);
	color: white;
	font-size: 33vw;
} 
.rectangleStrokeLeft {
	animation: rectangleLeft 2s;
	transform: translateX(54%);
	color: white;
	font-size: 33vw;
}

.rectangleStrokeRight {
	animation: rectangleRight 2s;
	transform: translateX(-54%);
	color: white;
	font-size: 33vw;
}
