	/** @format */
@keyframes rotate {
	0% {
		transform: rotate(360deg);
	}
}
.navbarConatainer {
	position: fixed;
	z-index: 4;
	top: 0;
	width: 100%;
	height: 7vh;
	background: linear-gradient(
		99deg,
		rgb(87, 186, 219),
		rgb(156, 230, 254),
		rgba(246, 255, 125, 0.9) 50%,
		rgb(65, 162, 194)
	);
}
.openIcon {
	position: fixed;
	animation: rotate 22s;
	right: 1px;
	width: 7vh;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(232, 244, 255);
	font-weight: bold;
	font-size: 3vh;
	z-index: 1;
	background: linear-gradient(
		5deg,
		rgb(11, 90, 116),
		rgb(117, 181, 233),
		rgb(33, 142, 181)
	);
	border: none;
	border-radius: 7vh;
	cursor: pointer;
	padding: 2vh;
	border: double 0.7vh rgba(246, 255, 125, 0.4);
	transition: all 4s;
}
.openIcon:hover {
	animation: rotate infinite 2s;
	border: 0.4vh dashed rgb(225, 242, 255);
}
.closeIcon {
	z-index: 4;
	font-size: 4vh;
	color: red;
	position: absolute;
	direction: rtl;
}
.container {
	z-index: 3;
	position: fixed;
	right: 0;
	width: 60vw;
	height: 100%;
	background: linear-gradient(45deg, lightblue, lightblue);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	overflow-y: auto;
}

.dropdown {
	width: 100%;
	background-color: yellow;
	border: 1vh ridge white;
	direction: rtl;
}
.name {
	background-color: aquamarine;
}
.option {
	background-color: lightblue;
}
.cross{
	background: radial-gradient(rgba(255, 255, 0, 0.37),rgb(197, 251, 255));
	color: rgb(188, 0, 0);
	padding: 1vh;
	border-radius: 4vh;
	border: .3vh ridge rgb(117, 181, 233);
}

















































 