/** @format */
@keyframes rotate {
	0% {
		transform: rotate(360deg);
	}
}
.navbarConatainer {
	position: fixed;
	z-index: 4;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	height: 8vh;
	background: linear-gradient(
		99deg,
		rgb(87, 186, 219),
		rgb(156, 230, 254),
		rgba(246, 255, 125, 0.9) 50%,
		rgb(65, 162, 194)
	);
	font-size: 2vh;
	cursor: pointer;
}
.profile{
	display: flex;
	justify-content: center;
	align-self: center;
	background: radial-gradient(rgba(99,211,192,.9),rgba(96, 118, 154, 0.9));
	border-radius: 22vh;
	color: white;
}
.openIcon {
	position: fixed;
	animation: rotate 22s;
	right: 1px;
	width: 7vh;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(232, 244, 255);
	font-weight: bold;
	font-size: 3vh;
	z-index: 1;
	background: linear-gradient(
		5deg,
		rgb(166, 232, 254),
		rgb(117, 181, 233),
		rgb(33, 142, 181)
	);
	border: none;
	border-radius: 7vh;
	cursor: pointer;
	padding: 2vh;
	border: double 0.7vh rgba(246, 255, 125, 0.4);
	transition: all 4s;
}
.openIcon:hover {
	animation: rotate infinite 2s;
	border: 0.4vh dashed rgb(225, 242, 255);
}
.centerSection {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.container {
	z-index: 3;
	position: fixed;
	right: 0;
	width: 60vw;
	height: 100%;
	background: linear-gradient(45deg, rgb(250, 254, 255), rgb(192, 228, 240));
	border-left: 2vh double rgba(19, 90, 125, 0.934);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	overflow-y: auto;
}
 
.header {
	background: linear-gradient(
		100deg,
		rgba(117, 208, 236, 0.9),
		rgba(247, 247, 247, 0.9),
		rgba(123, 183, 195, 0.9)
	);
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.searchBox {
	width: 60%;
}
.cross {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.7vh;
	opacity: 0.8;
	background: radial-gradient(rgba(232, 247, 255, 0.14), rgb(255, 236, 197.1));
 	align-self: center;
	text-align: center;
	color: rgb(188, 0, 0);
	border-radius: 4vh;

font-size: 4vh;}
.cross:hover {
	opacity: 1;
	transform: scale(1.1);
}
.dropdown {
	color: rgba(1, 30, 44, 0.934);
	width: 100%;
	background-color: yellow;
	direction: rtl;
	border-bottom: 0.5vh ridge rgb(68, 187, 208);
}
.name {
	background: linear-gradient(
		4deg,
		rgba(140, 203, 236, 0.934),
		rgb(255, 236, 197)
	);
	border-top: 0.5vh ridge rgb(251, 239, 239);
}
.option {
	border-bottom: ridge 0.4vh rgb(0, 158, 210);
	background: linear-gradient(
		100deg,
		rgba(173, 209, 220, 0.9),
		rgba(247, 247, 247, 0.9),
		rgba(164, 234, 248, 0.9)
	);
}
