/** @format */

.postsContainer {
	border: ridge 1vh #9bc9f7;
	box-shadow: 1px 1px 4px 1px rgba(11, 97, 127, 0.9);
	padding: 1vh;
	margin: 1vh 0vh;
	border-radius: 1vh;
	height: 22vh;
	cursor: pointer;
	transition: transform 0.7s;
}
.postsContainer:hover {
	z-index: 1;
	border: 0.7vh double rgba(233, 248, 24, 0.7);
	/* box-shadow: 1px 1px 4px 0px rgba(247, 100, 1, 0.8); */
	transform: translate(-1vh, -1vh);
}
.productBox {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding: 1vh;
	border: double 0.4vh rgb(2, 135, 172);
	display: flex;
	justify-content: space-around;
	box-shadow: 1px 1px 7px 1px rgba(44, 66, 99, 0.9) inset,
		1px 1px 2px 1px rgba(17, 75, 160, 0.9);
	background: radial-gradient(
		rgba(144, 230, 208, 0.9),
		rgba(255, 254, 235, 0.8),
		rgba(255, 255, 255, 0.9)
	);
	/* grid-template-rows: repeat(auto-fit, minmax(10vh, 1fr)); */
}
.image {
	width: 26%;
	height: 100%;
	border: double 0.7vh rgb(64, 129, 203);
	border-radius: 1vh;
	box-shadow: 1px 1px 1px 1px rgba(44, 66, 99, 0.9);
	transition: transform 0.7s ease-in;
}
.image:hover {
	transform: translateY(1vh);
	box-shadow: 1px 1px 7px 1px rgba(11, 97, 127, 0.9);
}
.productDetails {
	width: 65%;
	border: double rgba(44, 66, 99, 0.9) 0.4vh;
	box-shadow: 1px 1px 4px 1px rgba(28, 94, 122, 0.9),
		1px 1px 1px 1px rgba(11, 97, 227, 0.9) inset;
		border-radius: 1vh;
	padding: 1vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	margin-bottom: 1vh ;
	background: radial-gradient(rgb(213, 247, 243), rgb(171, 216, 209));
	text-align: center;
	width: fit-content;
	padding: 0vh 11vh;
	border: dotted .22vh rgba(11, 97, 127, 0.9);
	border-radius: 1vh;
}
.details {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50%;
	align-items: center;
 	border-radius: 13vh;
}
.priceBox {
	background: linear-gradient(44deg, rgb(5, 76, 79), rgb(77, 179, 222));
	border: 0.5vh double rgb(250, 254, 255);
	border-radius: 2vh;
	margin-bottom: -.1vh;
	text-align: center;
	width: 60%;
}
.controlBox {
	border: double 0.5vh rgba(12, 66, 103, 0.6);
	background: radial-gradient(rgb(164, 236, 220), rgb(121, 211, 202));
	border-radius: 4vh;
	width: 81%;
	height: 5vh;
	display: flex;
	justify-content: space-between;
}
.quantity {
	width: 100%;
	text-align: center;
	border-radius: 4vh;
	color: rgba(255, 255, 255, 1);
	background: linear-gradient(90deg,rgb(188, 244, 248), rgb(20, 135, 250), rgb(188, 244, 248));
}
.inceriment,
.deceriment {
	border-radius: 2vh;
	width: 20%;
	display: block;
	text-align: center;
	height: 100%;
	color: rgb(255, 255, 255);
}
.inceriment {
	background: linear-gradient(44deg, rgb(10, 44, 78), rgb(12, 81, 88));
	transition: transform .5s;
}
.deceriment {
	background: linear-gradient(44deg, rgb(252, 85, 34), rgb(222, 145, 77));
	transition: transform .7s;
}
.deceriment:hover, .inceriment:hover{
	transform: rotate(139deg);
}

@media(max-width:777px){
	.postsContainer{height: 24vh;}
	
}