/** @format */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.storyBox {
	overflow-x: scroll;
	width: 98%;
	margin: 1%;
	border: #bcb134 1px solid;
	box-shadow: 1px 1px 7px 2px #919104, 1px 1px 22px 31px #dddd8b inset;
	position: relative;
	display: flex;
	border: solid 1px #f7f469;
}

.story {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 99px;
	height: 99px;
	border-radius: 50%;
	margin: 10px;
	cursor: pointer;
}
.storyBanner {
	width: 97%;
	height: 97%;
	border-radius: 50%;
}

.showStoryBox {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	width: 60vh;
	height: 60vh;
	cursor: pointer;
	border-radius: 10px;
	display: block;
	justify-content: center;
	align-items: center;
	animation: fade-in 0.3s;
}

.storyShowImage {
	width: 100%;
	border-radius: 10px;
	border: ridge 11px #eee57b;
	box-shadow: 1px 1px 7px 1px #454133, 1px 1px 27px 11px #f8f7f5 inset;
}
.closeBtn {
	position: absolute;
	background-color: #f8f7f5;
	border-radius: 50%;
}
