/** @format */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.storyBox {
	overflow-x: auto;
	width: 100%;
	margin: 1% 0;
	background-color: #ffffff;
	border: #34bc9a 0.5vh dashed;
	box-shadow: 1px 1px 7px 1px #e0f5ff, 1px 1px 11vh 1vh #8bddcd inset;
	position: relative;
	display: flex;
}

.story {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13vh;
	height: 13vh;
	border-radius: 50%;
	margin: 10px;
	cursor: pointer;
}
.storyBanner {
	width: 97%;
	height: 97%;
	border-radius: 50%;
	object-fit: cover;
}
.openStoryContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 4, 11, 0.7);
	z-index: 2;
	position: absolute;
	top: 13vh;
}
.openStoryInnerSide {
	overflow-x:auto;
	height: 80%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 111, 121, 0.3);
}
.openStoryBox {
	border: double .7vh rgba(25, 90, 255, 0.7);
	background: radial-gradient(
		rgb(115, 233, 224),
		rgb(158, 196, 222),
		rgb(122, 195, 220)
	);
	margin: 0.1vh 2vh;
	height: 80%;
	cursor: pointer;
	border-radius: 10px;
	animation: fade-in 0.3s;
}
.openStory {
	display: flex;
	flex-direction: column;
	width: 40vh;
	background-color: yellow;
	height: 50vh;
	z-index: 2;
}

.openStoryHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3vh 0.5vh;
}
.openStory h6 {
	background: linear-gradient(50deg, rgb(0, 255, 208),rgba(255, 225, 0, 0.488),rgb(208, 244, 208));
	background-color: #34bc9a;
	direction: rtl;
 }
.basketBall {
	background: radial-gradient(
		rgb(12, 176, 162),
		rgb(29, 107, 159),
		rgb(48, 140, 171)
	);
	border-radius: 13vh;
	padding: 0.5vh;
	border: 0.3vh dashed #ffffff;
}
.close {
	background: radial-gradient(
		rgb(241, 66, 17),
		rgb(159, 83, 29),
		rgb(171, 124, 48)
	);
	border-radius: 13vh;
 	border: 0.2vh dashed #ffffff;
}
.storyShowImage {
	object-fit: cover;
	height: 98%;
	width: 98%;
	border-radius: 10px;
	border: double 1vh #eee57b;
	box-shadow: 1px 1px 7px 1px #454133, 1px 1px 27px 11px #f8f7f5 inset;
}
