/** @format */
@keyframes clientManagementBox {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes clientManagementBoxClose {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.clientManagementBox {
    animation: clientManagementBox 2s;
    border: groove 1.4vh #8ff81f;
    background: linear-gradient(to top, #d5ed5b 22%, transparent 111%);
    padding: 1vh 0vh;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(to right, #cbf21d 22%, transparent 111%);
    border: double 0.7vh #f7f6f7;
    text-align: center;
    box-shadow: 1px 1px 7px 2px #1b3802, 1px 1px 4px 4px #79b304 inset;
    padding: 1vh;
    margin: 2vh 1vh;
    border-radius: 2vh;
    color: #00071e;
}

.header:hover {
    background-color: #cfe669;
    cursor: pointer;
    border: dashed 0.3vh #180238;
    color: #fbfaf7;
    text-decoration: wavy;
}

.formBox {
    display: flex;
    justify-content: center;
}

.form {
    background: linear-gradient(to bottom, #cefa1f 22%, transparent 111%);
    padding: 1vh 0vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 4vh 2vh;
    border: double 1vh #dfc2f6;
    border-radius: 2vh;
    margin: 4vh -2vh;
    box-shadow: 1px 1px 5px 1px #a8e329 inset, 1px 1px 12px 3px #70ac00;
}

.label {
    background-color: #b2ec1f;
    color: #001e03;
    padding: 1vh 2vh;
    border-radius: 11vh;
    align-self: center;
}

.labelBox {
    padding: 0.7vh;
    margin: 2vh 0vh;
    background-color: #e5fbf6;
    border: solid 0.4vh #96cf59;
    box-shadow: 1px 1px 7px 2px #283e01 inset, 0px 0px 5px 2px #dff1b9;
    color: #023824;
    border-radius: 1vh;
    display: flex;
    justify-content: space-around;
}

/* Style the radio container */
.radioContainer {
    display: flex;
    align-items: center;
}

/* Style the radio input */
.radioContainer input[type='radio'] {
    display: none;
    /* Hide the actual radio input */
}

/* Style the radio label */
.radioLabel {
    background: linear-gradient(to right, #c6e021 22%, transparent 111%);
    border: ridge 0.3vh #ace904;
    box-shadow: 1px 1px 4px 1px #93c304, 1px 1px 4px 1px #81aa05;
    border-radius: 2vh;
    padding: 1vh 2vh;
    margin: 1vh 1vh;
    cursor: pointer;
    font-style: oblique;
    font-weight: bold;
    color: #365700;
    text-align: center;
}

.radioLabel:hover {
    background: linear-gradient(to right, #baeb66 22%, transparent 111%);
    border-color: #a8d02e;
}

.radioContainer input[type='radio']:checked+.radioLabel {
    background-color: #699a08;
    width: 11vw;
    color: white;
}

.radioContainer input[type='radio']:focus+.radioLabel {
    outline: none;
    border-color: #abd408;
}

.input {
    background: linear-gradient(to right, #8bdc22c8 22%, transparent 177%);
    border: ridge 0.5vh #9dd600;
    border-radius: 1vh;
    padding: 1vh;
    text-align: center;
}

.input::placeholder {
    color: rgb(4, 101, 22);
    opacity: 0.77;
    font-style: oblique;
    font-weight: bold;
}

.input:hover {
    background: linear-gradient(to right, rgb(129, 191, 3) 22%, transparent 111%);
    border-color: #fbf053;
}

.input:focus {
    outline: none;
    background-color: #def5f3;
    border: double 0.7vh #809604;
    border-radius: 7vh;
}

.submitBtn {
    background: linear-gradient(to right, #77b808 22%, transparent 111%);
    color: #ffffff;
    border: ridge 0.4vh #a3ed2b;
    border-radius: 2vh;
    font-style: oblique;
    font-size: 22px;
    box-shadow: 1px 1px 7px 3px;
}

.submitBtn:hover {
    cursor: pointer;
    background: linear-gradient(to right, #73b639 22%, transparent 111%);
    border-color: #5b9b01;
}