/** @format */
@keyframes postBox {
    25% {
        border-radius: 10vh 0vh 0vh 0vh;
    }

    50% {
        border-radius: 0vh 10vh 0vh 0vh;
    }

    75% {
        border-radius: 0vh 0vh 10vh 0vh;
    }

    75% {
        border-radius: 0vh 0vh 0vh 10vh;
    }
}

@keyframes iconHover {
    100% {
        transform: scale(1.02) rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.postsBox {
     animation: postBox infinite 11s;
    margin: 1vh;
    border: double 0.5vh rgba(12, 179, 212, 0.8);
    background: repeating-radial-gradient(rgba(231, 246, 231, 0.9),
            rgb(247, 248, 248));
    box-shadow: 1px 1px 7px 2px rgba(248, 242, 190, 0.8),
        1px 1px 22px 2px rgba(255, 255, 255, 0.8) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    text-wrap: nowrap;
    white-space: nowrap;
}

.innerPostsBox {
    width: 99%;
    margin: 0.7vh 0;
    animation: postBox infinite 11s;
    border: dashed 0.4vh rgba(182, 161, 4, 0.7);
    background: radial-gradient(rgba(173, 242, 242, 0.77),
            rgba(128, 252, 252, 0.77),
            rgba(82, 156, 156, 0.77),
            rgba(243, 252, 252, 0.77));
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23vw, 0fr));
    gap: 1vh;
    justify-content: center;
}

.postBox {
    height: 44vh;
    margin: 1vh;
    cursor: pointer;
    padding: 1vh;
    border: double 0.4vh rgba(234, 229, 240, 0.8);
    border-radius: 0.4vh;
    box-shadow: 1px 1px 4px 1px rgba(1, 114, 236, 0.8),
        1px 1px 4px 2px rgba(253, 251, 255, 0.7) inset;
}

.innerPostBox {
    width: 99%;
    height: 99%;
    background: radial-gradient(rgba(230, 255, 255, 0.62), rgb(232, 243, 253));
    box-shadow: 1px 1px 14px 1px rgba(208, 235, 249, 0.8),
        1px 1px 4px 2px rgba(240, 254, 254, 0.7) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageBox {
    width: 94%;
    height: 81%;
}

.image {
    width: 99%;
    height: 97%;
    border-radius: 0.7vh;
    border: ridge 0.4vh rgba(231, 255, 254, 0.8);
    box-shadow: 1px 1px 4px 1px rgba(37, 163, 216, 0.8),
        1px 1px 7px 11px rgba(252, 176, 1, 0.651) inset;
    z-index: 2;
}

.image:hover {
    transform: scale(1.05);
}

.title {
    margin-top: -0.7vw;
    position: absolute;
    background: radial-gradient(rgba(235, 255, 255, 0.62), rgb(235, 245, 255));
    color: rgb(1, 28, 52);
    text-align: center;
    padding: 2vh 1vw;
    border: double 0.5vh rgb(159, 202, 245);
    border-radius: 0 0 4vh 4vh;
}

.title:hover {
    transform: scale(1.05);
}

.innerPriceBasketBox {
    width: 96%;
    height: 14%;
    padding: 0.4vh 0.7vh;
    border-radius: 0.5vh;
    background: radial-gradient(rgba(8, 143, 143, 0.62), rgb(26, 72, 117));
    box-shadow: 1px 1px 3px 1px rgba(60, 175, 224, 0.8),
        1px 1px 7px 1px rgba(204, 248, 254, 0.651) inset;
    display: flex;
    align-items: center;
}

/* BasketIn === 0 */
.priceBasket {
    justify-content: space-between;
    height: 70%;
    display: flex;
    align-items: center;
    background: radial-gradient(rgba(1, 93, 241, 0.8), rgba(137, 221, 203, 0.8));
    border: ridge 0.2vh rgba(199, 245, 243, 0.8);
    width: 100%;
    border-radius: 3vh;
}

.price {
    direction: rtl;
    padding: 0.1vh 1vh;
    color: #020925;
    border-radius: 2vh;
    background: radial-gradient(rgba(246, 249, 255, 0.9),
            rgba(222, 255, 248, 0.9));
    border: dashed 0.3vh rgba(1, 48, 48, 0.77);
}

.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: double 0.5vh rgba(123, 177, 235, 0.8);
    background: radial-gradient(rgba(1, 114, 236, 0.8), rgba(22, 19, 113, 0.9));
    border-radius: 55vh;
}

.icon {
    background: radial-gradient(rgb(30, 46, 111), rgba(3, 142, 249, 0.908));
    padding: 0.5vh;
    border: groove 0.5vh rgb(7, 160, 220);
    border-radius: 4vh;
}

.icon:hover {
    animation: iconHover 1s infinite backwards;
}

.quantity {
    background-color: #ffffff;
    padding: 0.4vh 1vh;
    border-radius: 7vh;
    border: dashed 0.4vh rgba(1, 114, 236, 0.8);
}

/* BasketIn > 0 */
.productDetails {
    width: 100%;
    height: 20%;
    border: double rgba(44, 66, 99, 0.9) 0.4vh;
    box-shadow: 1px 1px 4px 1px rgba(28, 94, 122, 0.9),
        1px 1px 1px 1px rgba(11, 97, 227, 0.9) inset;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    display: flex;
    width: 90%;
    flex-direction: column;
    height: 100%;
    border-radius: 13vh;
    align-items: center;
}

.priceBox {
    height: 50%;
    background: linear-gradient(44deg, rgb(21, 83, 124), rgb(0, 33, 47));
    color: #ffebd7;
    border: 0.5vh double rgb(250, 254, 255);
    border-radius: 2vh;
    margin-bottom: -0.1vh;
    text-align: center;
    width: 90%;
}

.controlBox {
    border: double 0.5vh rgba(12, 66, 103, 0.6);
    background: radial-gradient(rgb(164, 236, 220), rgb(121, 211, 202));
    border-radius: 4vh;
    width: 111%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.count {
    width: 100%;
    text-align: center;
    border-radius: 4vh;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(90deg,
            rgb(188, 244, 248),
            rgb(20, 135, 250),
            rgb(188, 244, 248));
}

.inceriment,
.deceriment {
    border-radius: 2vh;
    width: 20%;
    display: block;
    text-align: center;
    height: 100%;
    color: rgb(255, 255, 255);
}

.inceriment {
    background: linear-gradient(44deg, rgb(10, 44, 78), rgb(12, 81, 88));
    transition: transform 0.5s;
}

.deceriment {
    background: linear-gradient(44deg, rgb(252, 85, 34), rgb(222, 145, 77));
    transition: transform 0.7s;
}

.deceriment:hover,
.inceriment:hover {
    transform: rotate(139deg);
}

@media (max-width: 777px) {
    .innerPostsBox {
        width: 96vw;
        animation: postBox infinite 11s;
        border: dashed 0.2vw rgba(182, 161, 4, 0.7);
        background: radial-gradient(rgba(173, 242, 242, 0.77),
                rgba(128, 252, 252, 0.77),
                rgba(82, 156, 156, 0.77),
                rgba(243, 252, 252, 0.77));
        padding: 0.5vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40vw, 4fr));
    }

    .postBox {
        cursor: pointer;
        padding: 1vh;
        border: double 0.4vh rgba(234, 229, 240, 0.8);
        border-radius: 0.4vh;
        box-shadow: 1px 1px 4px 1px rgba(1, 114, 236, 0.8),
            1px 1px 4px 2px rgba(206, 166, 245, 0.7) inset;
    }

    .title {
        margin-top: -1vw;
    }
}