/** @format */

.show {
	transform: translateX(0%);
}

.hide {
	transform: translateX(-100%);
}
.navDrager {
	border-bottom: 12vh ridge #08d9fe;
	border-radius: 0vh 0vh 40% 40%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-color: white;
}
.navDrager div {
	font-size: 4vh;
	display: flex;
	align-items: center;
	color: white;
	background-color: #08d9fe;
	border-radius: 222%;
	margin-bottom: -7vh;
}
.scrollingDiv {
	direction: rtl;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background: linear-gradient(
		7deg,
		rgb(106, 155, 162),
		rgb(234, 250, 255),
		rgb(110, 199, 225)
	);
	padding: 2vh 1vh 1vh 1vh;
	transition: all 0.5s ease-in-out;
	box-shadow: 1px 1px 2vh 1px #a7e9db inset, 1px 1px 6px 1px #fbfbf9;
	border: 0.7vh double rgb(241, 255, 254);
	border-radius: 0vh 0vh 40% 40%;
	position: fixed;
	z-index: 4;
	top: 0;
	font-size: 2vh;
}
.itemsBox{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: radial-gradient(
		rgba(184, 243, 235, 0.9),
		rgba(136, 228, 246, 0.9),
		rgba(133, 196, 245, 0.8)
	);
}
.openItemsBox {
	height: 85%;
	border-radius: 0 0 22vh 22vh;
}

.closeItemsBox {
	background-color: #08d9fe;
}
.menuItem {
	background: radial-gradient(rgba(50, 90, 88, 0.564), rgb(84, 144, 165));
	padding: 0.1vh 1vh;
	border-radius: 1vh;
	color: #fffffd;
	position: absolute;
	text-shadow: 1px 1px 4px #050502;
}

.menuItem::after {
	content: '';
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 1px;
	border-radius: 7vh;
	border: 0.1vh rgb(102, 190, 185) ridge;
	background-color: #ffffff;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.menuItem:hover::after {
	transform: scaleX(1);
}

.subOptionBox {
	margin: 5vh 0.2vh;
	padding: 2vh;
	border-right: 1vh double rgba(50, 90, 88, 0.564);
	border-radius: 2vh;
	background: linear-gradient(
	313deg,
		rgba(138, 202, 241, 0.5) 10%,
		rgba(237, 250, 255, 0.9),
		rgba(31, 209, 222, 0.7)
	);
}
.subOption {
	margin: 2vh;
	padding: 0 2vh;
	background-color: rgba(255, 255, 255, 0.2);
	border-bottom: .5vh double rgb(193, 197, 201);
	border-radius: 0 0 1vh 1vh;
}

.container {
	position: relative;
}

.dropdown {
	position: absolute;
	width: 50vw;
	left: 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dropdownItem {
	color: #ffe5e5;
	border-top: ridge 4px #34b5bc;
	background: radial-gradient(rgb(102, 190, 185), rgb(18, 137, 170));
	text-align: center;
}

.dropdownItem::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #2d2a42;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.dropdownItem:hover::after {
	transform: scaleX(1);
}

.componentBox {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-self: center;
	width: 20%;
}
.search {
	width: 80vh;
}
