.show {
	transform: translateX(0%);
}

.hide {
	transform: translateX(-100%);
}
.scrollingDiv {
 	direction: rtl;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background:linear-gradient(222deg ,rgb(6, 48, 49),rgb(46, 128, 199),rgb(110, 199, 225));
	padding: 2vh 1vh 1vh 1vh;
	transition: all 0.5s ease-in-out;
	box-shadow: 1px 1px 2vh 1px #19d2aa inset, 1px 1px 6px 1px #fbfbf9;
	border: .7vh double rgb(241, 255, 254);
	border-radius: 0vh 0vh 40% 40%;
	position: fixed;
	z-index: 4;
	top:0;
	font-size: 2vh;
}
.menuItem {
	color: #fffffd;
 	position: absolute;
	text-shadow: 1px 1px 4px #050502;
  }

.link {
	text-decoration: none;
}

.menuItem::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #333;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.menuItem:hover::after {
	transform: scaleX(1);
}

.container {
	position: relative;
}

.toggleButton {
	background-color: #1e2830;
	color: #fff;
	border: ridge 2px #fffef7;
	border-radius: 50px;
	padding: 8px 16px;
	cursor: pointer;
}

.dropdown {
	position: absolute;
	width: 50vw;
	left: 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dropdownItem {
	color: #ffe5e5;
	border-top: ridge 4px #34b5bc;
	background: radial-gradient(rgb(102, 190, 185), rgb(18, 137, 170));
	text-align: center;
}

.dropdownItem::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #2d2a42;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.dropdownItem:hover::after {
	transform: scaleX(1);
}



.switchWrapper {
	display: flex;
	align-items: center;
}

.switch {
	position: relative;
	width: 60px;
	height: 34px;
	margin: 0 10px;
	appearance: none;
	outline: none;
	border: none;
	background-color: #f8f8f5;
	border: #34bcb1 1px solid;
	box-shadow: 1px 1px 7px 2px #050502, 1px 1px 2px 1px #dddd8b inset;
	border-radius: 17px;
	cursor: pointer;
}

.switch:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 28px;
	height: 28px;
	background-color: #2e374a;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}

.switch:checked:before {
	transform: translateX(26px);
	background-color: silver;
}

.label {
 	color: #fffefd;
	text-shadow: 1px 1px 11px #08d9fe, 1px 1px 1px #050502;
 }
