/** @format */

@keyframes basketOpen {
	0% {
		transform: translateX(-40vw);
	}
}
.basketBall {
	background: radial-gradient(
		rgba(22, 188, 182, 0.9),
		rgba(110, 181, 214, 0.4)
	);
	border: dashed 0.4vh #ffffff;
	width: fit-content;
	text-align: center;
	padding: 1vh;
	border-radius: 115vh;
	cursor: pointer;
}
.basketDrawer {
	animation: basketOpen 1s;
	width: 41vw;
	border-radius: 4vh;
	height: 100vh;
	background-color: rgba(159, 237, 237, 0.9);
	border-right: ridge 2.2vh rgba(153, 234, 188, 0.4);
}
.basketBase {
	animation: basketOpen 1s;
	width: 40vw;
	height: inherit;
	background-color: rgba(255, 255, 255, 0.99);
	border: double 0.5vh rgba(5, 108, 218, 0.9);
	border-left: none;
	border-radius: 0vh 1vh 1vh 0vh;
	overflow-y: scroll;
	position: absolute;
	z-index: 1;
}
.basketHeader {
	width: 100%;
	height: 4vh;
	color: rgba(4, 1, 39, 0.9);
	text-align: center;
	background: radial-gradient(
		rgba(22, 188, 182, 0.9),
		rgba(110, 181, 214, 0.4)
	);
}
