/** @format */
@font-face {
	font-family: Tanha;
	src: url('../public/font/Tanha.ttf');
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Tanha;
}
body {
	max-width: 100vw;
	overflow-x: hidden;
}
a {
	color: inherit;
	text-decoration: none;
}
